.section_title h2 {
    position: relative; display: inline;
    font-size: 40px; color: #4ab5d6; line-height: 40px;
}
.section_title h4 {
    font-size: 14px; font-weight: normal; line-height: 14px; margin-top: 23px;
}
.section_container {
    width: 100%; margin-top: 47px;
}

/* main_banner------------------------------------ */
.main_banner {
    position: relative;
    width: 100%; height: 550px; overflow: hidden;
    background: url(../img/bestseller_img/mainBanner.png) no-repeat;
}
.main_title{ position: relative; margin: 140px 0 0 310px; }
.main_title li{ padding-bottom: 24px; }
/*learningbooks_search-----------------------------------*/
.learningbooks_searchbox{
    width: 1200PX;
    height: 580PX;
    background-color:#fafafa;
    margin: 125px auto 0 auto;
    border-radius: 10px;
    padding:40px 80px ;
    text-align: center;
}
form span{display: none;}
h3{
    color: #ffafaf;
    font-size: 40pt;
}
#title_sub{
    font-size: 24px;
    color:#777;
    margin: 20px auto 50px auto;
}
.form_1 li{
    width: 870px;
    float: left;
    margin: 15px  15px  15px 150px;
}
.form_2 li{
    width: 870px;
    height: 40px;
    float: left;
    margin: 15px  15px  15px 150px;
}
.form_1 input{
    width: 680px;
    height: 40px;
    border: 1px solid #bebebe;
}
.pink{
    color: #ffafaf;
    font-size: 24pt;
    float: left;
}
.gray{
    color: #777;
    font-size: 24pt;
    float: left;
}
select{
    display:block;
    float: left;
    width: 80px;
    height: 40px;
    border: 1px solid #bebebe;
    line-height: 40px;

}
#semester{
    display:block;
    float: left;
    width: 100px;
    line-height: 40px;
    margin-left: -30px;
}
#semistertitle{margin:0 0 0 50px;}
option{
    font-size: 16px;
    line-height: 40px;
    margin-right:0;
}
#btn_search{
    width: 260px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid #ffafaf;
    border-radius: 5px;
    background: #fff;
    color: #ffafaf;
    font-size: 24px;
    margin:0 0 0 40px;
}

/* Best Sellers----------------------------------------- */
.bestSellers_wrap {
    width: 100%; height: auto;
    margin: 165px 0;
    text-align: center;
}
.icon_bs {
    position: absolute; top: 50%; margin-top: -10.5px; left: -50px;
}

/* bs_content1 */
.bs_content1 {
    width: 100%; height: 481px; background-color: #ffafaf;
}
.bs_content1 > ul {
    width: 1400px; height: 481px; margin: 0 auto;
    padding: 25px 55px; box-sizing: border-box;
}
.bs_content1 > ul > li {
    position: relative;
    width: 330px; height: 430px; float: left;
    margin: 0 50px;
}
.bs_list_num {
    position: absolute; top: 0; left: -51px;
    width: 51px; height: 74px; background-color: #ffafaf;
    text-align: center; line-height: 74px; font-size: 30px; font-weight: bold;
    color: #fff; border-radius: 10px 0 0 10px;
}
.bs_list_line {
    position: absolute; top: 0; right: 0;
    width: 3px; height: 0; background-color: #ffafaf;
    content: "";
}
.bs_list_item {
    display: block;
    /* width: 100%; */ width: 0;
    height: 100%;
    /* padding: 30px; */ padding: 30px 0;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}
.bs_list_item .book_img {
    width: 270px; height: 270px;
}
.bs_list_contxt {
    width: 270px; height: 130px;
    padding: 24px 0 0 12px; box-sizing: border-box;
    text-align: left;
}
.bs_list_contxt .book_title {
    font-weight: bold;
}
.bs_list_contxt .bullet {
    display: block;
    margin-top: 10px;
}
.bs_list_contxt .price {
    display: block;
    margin-top: 20px;
}

/* bs_content2 */
.bs_content2 {
    position: relative;
    width: 1400px; height: 591px; margin: 0 auto 0 auto;
}

.bs_tab_menu li {
    width: 350px; height: 53px; float: left;
    border: 1px solid #ffafaf; border-radius: 10px 10px 0 0; box-sizing: border-box;
    text-align: center; line-height: 53px; font-size: 24px; font-weight: bold;
    color: #ffafaf; cursor: pointer;
}
.bs_tab_menu li:hover, .bs_tab_menu li.on  {
    border: none; background-color: #ffafaf; color: #fff;
}

.bs_tab {
    opacity: 0;
    position: absolute; top: 53px; left: 0; opacity: 0;
    width: 1400px; height: 0; /*100%*/ background-color: #fff;
    transition: all 0.5s; overflow: hidden;
}
.bs_tab.on {
    opacity: 1;
    height: 100%;
}
.bs_tab li {
    position: relative;
    width: 25%; height: 270px; float: left;
    border: 1px solid #eee; box-sizing: border-box;
    transition: all 0.5s;
}
.bs_tab li:hover {
    border-color: #ffafaf;
}
.bs_tab li a {
    display: block; width: 100%; height: 100%;
}
.bs_tab .book_img {
    position: absolute; top: 20px; left: 20px;
    width: 160px; height: 230px; 
    background-repeat: no-repeat; background-size: contain; background-position: center center;
}
.bs_tab .book_img.book1 {background-image: url(../img/learningbooks_img/book_bs_4.PNG);}
.bs_tab .book_img.book2 {background-image: url(../img/learningbooks_img/book_bs_5.png);}
.bs_tab .book_img.book3 {background-image: url(../img/learningbooks_img/book_bs_6.PNG);}
.bs_tab .book_img.book4 {background-image: url(../img/learningbooks_img/book_bs_7.PNG);}
.bs_tab .book_img.book5 {background-image: url(../img/learningbooks_img/book_bs_8.PNG);}
.bs_tab .book_img.book6 {background-image: url(../img/learningbooks_img/book_bs_9.jpg);}
.bs_tab .book_img.book7 {background-image: url(../img/learningbooks_img/book_bs_10.PNG);}
.bs_tab .book_img.book8 {background-image: url(../img/learningbooks_img/book_bs_11.PNG);}
.bs_tab .book_img.book9 {background-image: url(../img/learningbooks_img/book_bs_12.PNG);}
.bs_tab .book_img.book10 {background-image: url(../img/learningbooks_img/book_bs_13.JPG);}
.bs_tab .book_img.book11 {background-image: url(../img/learningbooks_img/book_bs_14.PNG);}
.bs_tab .book_img.book12 {background-image: url(../img/learningbooks_img/book_bs_15.PNG);}
.bs_tab .book_img.book13 {background-image: url(../img/learningbooks_img/book_bs_16.PNG);}
.bs_tab .book_img.book14 {background-image: url(../img/learningbooks_img/book_bs_17.jpg);}
.bs_tab .book_img.book15 {background-image: url(../img/learningbooks_img/book_bs_18.JPG);}
.bs_tab .book_img.book16 {background-image: url(../img/learningbooks_img/book_bs_19.PNG);}

.bs_tab_contxt .book_title {
    position: absolute; top: 46px; left: 200px; text-align: left;
    font-weight: bold;
}
.bs_tab_contxt .price {
    position: absolute; top: 153px; left: 200px;
}
.bs_tab_contxt .bullet {
    position: absolute; top: 180px; left: 200px;
}
/*bestseller_event-----------------------------------*/
.sub_banner {
    background: url("../img/bestseller_img/sub_banner.png") no-repeat;
    height: 526px;
    width: 1926px;
    margin-bottom: 156px;
  }
  .sub_banner > p > a {
    left: -4675px;
    position: absolute;
    top: 2132px;
    color: #ffafaf;
    z-index: 1;
    font-size: 20px;
  }
  .zeroBook {
    position: absolute;
    left: -565px;
    top: 1934px;
  }
  .firstBook {
    width: 162px;
    height: 241px;
    position: absolute;
    left: 1006px;
    top: 2041px;
    opacity: 0;
  }
  .firstBook > a > p {
    position: relative;
    top: 40px;
    font-weight: bold;
  }
  .secondBook {
    width: 162px;
    height: 241px;
    position: absolute;
    top: 2052px;
    left: 1238px;
    opacity: 0;
  }
  .secondBook > a > p {
    position: relative;
    top: 30px;
    width: 200px;
    font-weight: bold;
  }
  .thirdBook {
    width: 162px;
    height: 241px;
    position: absolute;
    top: 2050px;
    left: 1464px;
    opacity: 0;
  }
  .thirdBook > a > p {
    position: relative;
    top: 30px;
    width: 200px;
    font-weight: bold;
  }
  
/* Treasure Hunt---------------------------------------- */

.treasureHunt_wrap {
    width: 100%; height: auto;
    margin: 165px 0; text-align: center;
}
.icon_th {
    position: absolute; top: 50%; margin-top: -10.5px; left: -50px;
}

/* th_content */
.th_content {
    width: 1400px; height: 755px; margin: 0 auto;
    padding: 0 62px; box-sizing: border-box;
}
.th_content ul li {
    position: relative;
    width: 250px; height: 360px; float: left;
    margin: 0 92px 35px 0;
    border: 1px solid #eeeeee; box-sizing: border-box;
}
.th_content ul li:nth-child(4n) {margin-right: 0;}
.th_content > li > a {
    display: block; width: 100%; height: 100%;
    padding: 20px; box-sizing: border-box;
}

/* 마우스오버 애니메이션 */
.th_content li:hover .th_list_point {
    background-color: #ffafaf;
}
.th_content li:hover .th_list_contxt,
.th_content li:hover .num,
.th_content li:hover .percent,
.th_content li:hover .txt_off {
    color: #fff;
}
.th_content li:hover .bullet {
    display: none;
}
.th_content li:hover .th_list_on {
    height: 120px;
}
/* ----------------- */

.th_list_point {
    position: absolute; top: 0; left: -32.5px;
    width: 65px; height: 65px; background-color: #fff;
    border: 1px solid #ffafaf; border-radius: 10px; box-sizing: border-box;
    text-align: left; padding: 9px;
    transition: all 0.5s;
}
.th_list_point .num {
    font-size: 24px; font-weight: bold; color: #ffafaf;
    transition: all 0.5s;
}
.th_list_point .percent {
    font-size: 16px; font-weight: bold; color: #ffafaf;
    vertical-align: bottom;
    transition: all 0.5s;
}
.th_list_point .txt_off {
    font-size: 12px; color: #ffafaf;
    transition: all 0.5s;
}

.th_content .book_img {
    position: absolute; top: 20px; left: 20px;
    width: 210px; height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.th_content .book_img1 {background-image: url(../img/bestseller_img/book_th_1.JPG);}
.th_content .book_img2 {background-image: url(../img/bestseller_img/book_th_2.JPG);}
.th_content .book_img3 {background-image: url(../img/bestseller_img/book_th_3.JPG);}
.th_content .book_img4 {background-image: url(../img/bestseller_img/book_th_4.jpg);}
.th_content .book_img5 {background-image: url(../img/bestseller_img/book_th_5.PNG);}
.th_content .book_img6 {background-image: url(../img/bestseller_img/book_th_6.jpg);}
.th_content .book_img7 {background-image: url(../img/bestseller_img/book_th_7.JPG);}
.th_content .book_img8 {background-image: url(../img/bestseller_img/book_th_8.PNG);}

.th_list_contxt {
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: 120px;
    transition: all 0.5s;
}
.th_list_contxt .book_title {
    position: absolute; top: 20px; left: 20px; text-align: left;
    font-weight: bold; z-index: 2;
}
.th_list_contxt .price {
    position: absolute; bottom: 20px; left: 20px; z-index: 2;
}
.th_list_contxt .price_off {
    position: absolute; bottom: 38px; left: 20px;
    font-size: 12px; text-decoration: line-through; z-index: 2;
}
.th_list_contxt .bullet {
    position: absolute; bottom: 20px; right: 20px;
}
.th_list_contxt .bullet img {margin-left: 5px;}

.th_list_on {
    position: absolute; bottom: 0; left: 0; overflow: hidden;
    width: 100%; height: 0;
    background-color: #ffafaf;
    z-index: 1; transition: all 0.5s;
}
.th_list_on > a {
    position: absolute;
    margin-left: 15px;
    display: block; width: 36px; height: 36px;
    background-color: #fff; border-radius: 50%;
}
.btn_wish {
    bottom: 15px; right: 70px;
    background: url(../img/bestseller_img/icon_heart_1.png) no-repeat center/70%;
}
.th_list_on >.btn_wish:hover{
    bottom: 15px; right: 70px;
    background: url(../img/bestseller_img/icon_heart_1_on.png) no-repeat center/70%;
    background-color: #fff
}
.btn_cart {
    bottom: 15px; right: 20px;
    background: url(../img/bestseller_img/icon_bag_1.png) no-repeat center/50%;
}

.th_list_on >.btn_cart:hover{
    bottom: 15px; right: 20px;
    background: url(../img/bestseller_img/icon_bag_1_on.png) no-repeat center/50%;
    background-color: #fff}   