
/* header------------------------------------ */

#header_wrap {
    width: 100%; height: 215px; background-color: #fff;
    clear: both;
}

.top_menu_wrap {
    width: 100%; height: 35px; border-bottom: 1px solid #eee; box-sizing: border-box;
}
.inner {
    position: relative;
    width: 1400px; height: 100%; margin: 0 auto;
}

.top_menu {
   float: right; margin-right: 77px;
}
.top_menu li {
    float: left; font-size: 12px; line-height: 35px; margin-left: 20px;
}

.logo_area {
    width: 100%; height: 117px; border-bottom: 1px solid #eee; box-sizing: border-box;
}
.logo {
    position: absolute; bottom: 14px; left: 55px;
}

.search_area {
    position: absolute;
    bottom: 25px; left: 50%; margin-left: -242.5px;
    width: 483px; height: 38px;
    background: url(../img/main_img/underline_search.png) no-repeat center bottom;
}
.btn_search {
    position: absolute; bottom: 0; right: -33px;
}
.search_input {
    position: absolute; bottom: 12px;
    width: 100%; font-size: 18px; font-family: "NanumGothic";
    background-color: #fff; padding-left: 22px; box-sizing: border-box;
}
.search_input:focus {
    outline: none;
}
.search_input::placeholder {
    color: #8bdaf2;
}
/* 인터넷 익스플로러 */
.search_input:-ms-input-placeholder {
    color: #8bdaf2;
}
/* 마이크로소프트 엣지 */
.search_input::-ms-input-placeholder {
    color: #8bdaf2;
}

.gnb_wrap {
    width: 100%; height: 63px;
    z-index: 80; background-color: #fff;
}
.gnb_wrap.on {
    position: fixed; top: 0; left: 0;
    box-shadow: 0 1px 1px #00000030;
}
.gnb > li {
    position: relative;
    float: left; font-size: 18px; line-height: 63px;
    margin-left: 77px;
    box-sizing: border-box;
}
.gnb > li:first-child {
    position: static;
}
.gnb > li:first-child > a {
    font-weight: bold; margin-left: -33px;
}
.btn_bars {
    margin-top: 23px; padding-right: 10px; box-sizing: border-box;
}
.gnb_sub {
    display: none;
    position: absolute; top: 63px; left: 50%; margin-left: -75px;
    width: 150px; background-color: #fff; border-radius: 0 0 10px 10px;
    z-index: 15; box-shadow: 0 1px 1px #00000030;
}
.gnb_sub > li {
    font-size: 14px; line-height: 14px; padding: 10px;
    border-bottom: 1px solid #eee;
}
.gnb_sub > li:last-child {
    border-bottom: none;
}
.categories {
    display: none;
    position: absolute; top: 63px; left: 0;
    width: 1400px; height: 400px; background-color: #fff; border-radius: 0 0 10px 10px;
    z-index: 15;
    box-shadow: 0 1px 1px #00000030;
}
.categories > li {
    position: relative;
    font-size: 16px; line-height: 16px; padding: 10px 0; margin: 0 30px;
    cursor: pointer; float: left; font-weight: bold;
}
.categories > li::after {
    position: absolute; top: 35px; left: 0;
    display: block; width: 100%; height: 2px;
    content: ""; background-color: #ccc;
}
.categories_sub {
    margin-top: 20px;
}
.categories_sub > li > a {
    display: inline-block; margin: 5px 0; font-size: 14px; font-weight: normal;
}

/* gnb 언더라인 효과 */
.gnb > li::after {
    display: block; position: absolute; width: 0; height: 4px;
    bottom: 0; left: 50%;
    content: "";
    transition: all 0.5s;
}

.gnb > li:nth-child(2)::after {background-color: #4ab5d6;}
.gnb > li:nth-child(3)::after {background-color: #ff5858;}
.gnb > li:nth-child(4)::after {background-color: #efa5f4;}
.gnb > li:nth-child(5)::after {background-color: #944ca8;}
.gnb > li:nth-child(6)::after {background-color: #fde368;}
.gnb > li:nth-child(7)::after {background-color: #9dde51;}
.gnb > li:nth-child(8)::after {background-color: #4ab5d6;}

.gnb > li:hover::after, .gnb > li.on::after{
    width: 100%; left: 0;
}

/* 로그인, 회원가입 팝업------------------------------------------------------ */
.pause{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px; 
    right: -40px; 
    background: url(../img/login_img/pause.png) no-repeat center;
    background-size: contain;
    transition: all 0.5s;
}
.pause:hover{
    transform: scale(1.2);
}
.back{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 90;
    background:rgba(10, 10, 10, 0.589);
}

/* login start */
.login_wrap{
    width: 400px;
    height: 740px;
    border-radius: 10px;
    background: #fff;
    margin: 0 auto;
    padding-top: 22px;
    box-sizing: border-box;
    position:absolute;
    right: 50%;
    margin-right:-200px;
    top: 10px;
}
.login_container{
    width: 360px;
    height: 700px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #8e8e8eb0;
    box-sizing: border-box;
}
.title{
    width: 100%;
    height: 50px;
    text-align: center;
    margin: 50px 0 60px 0; 
}
.login_id{
    width: 360px;
    height: 50px;
    margin-bottom: 30px;
    position: relative;
}
.person img{
    position: absolute;
    left: 20px;
    top: 30px;
}
.login_wrap input{
    font-size: 20px;
    width: 260px;
    display: block;
    position: absolute;
    left: 48px; 
    top: 20px; 
    border-bottom:1px solid #8e8e8eb0;
    background: #fff;
}
.login_wrap input:focus,
.join_container input:focus{
    outline: none;
    border-bottom-width: 2px;
    border-color: #fecd08;
    transition:all 0.3s;
}
.login_wrap input::placeholder{
    color: #5150507e;
    font-size: 16px;
    padding-left: 10px;
}
.login_password{
    width: 60px;
    height: 50px;
    margin-bottom: 60px;
    position: relative;
}
.lock img{
    position: absolute;
    left: 20px;
    top: 30px;
}
.button_signin{
    width: 225px;
    margin: 0 auto;
    text-align: center;
}
.button_signin a{
    width: 225px;
    height:40px;
    border-radius: 10px;
    background: #fecd08;
    display: block;
    transition: all 0.3s;
    position: relative;
    text-align: center;
}
.button_signin span{
    line-height: 40px;
    font-weight: bold;
    color: #fff;
}
.button_signin a:hover{
    background: orange;
    box-shadow: 1px 1px 4px 1px;
}
.et{
    width: 300px;
    height: 50px;
    margin: 30px auto 0;
}
.et a{
    display: block;
    font-size: 12px; 
    font-weight: bold;
    opacity: 0.7;
    text-decoration: underline;
}
.et a:first-child{
    float: left;
}
.et a:last-child{
    float: right;
}
.sns{
    width: 100%;
    height: 240px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.sns a{
    transition: all 0.3s;
}
.sns a:hover{
    box-shadow: 2px 2px 4px 1px;
}
.sns>img{
    padding-bottom: 20px; 
}
.google, .twitter, .naver{
    width: 320px; 
    height:46px;
    display: block;
    margin: 0 auto 18px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.google{
    background: #e04a32;
}
.twitter{
    background: #55acee;
}
.naver{
    background: #2db400;
}
.google> span, .twitter> span, .naver> span{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    line-height: 46px;
    text-align: right;
}
.google> span, .twitter> span{
    padding-left: 60px;
}
.naver> span{
    padding-left: 50px;
}
.google>img, .twitter>img, .naver>img{
   position: absolute;
   left: 30px;
   top: 15px;
}

/* join_us start */
.join_wrap{
    width: 400px;
    height: 740px;
    border-radius: 10px;
    background: #fff;
    margin: 0 auto;
    padding-top: 22px;
    box-sizing: border-box;
    position: absolute;
    right: 50%;
    margin-right:-200px;
    top: 10px;
}
.join_container{
    width: 360px;
    height: 700px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #8e8e8eb0;
    box-sizing: border-box;
}
.id_area{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.join_container label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.id_area li{
    float: left;
}
.id_area input, .password_area input{
    border:none;
    border-bottom:1px solid #8e8e8eb0;
    height: 26px; 
}
.password_area input{
    width: 100%;
}
.email_s li:first-child input{
    width: 100px;
}
.email_s li:last-child input{
    width: 179px;
}
.email_s li:nth-child(2) {
    padding: 0 10px;
    line-height: 26px;
}
.password_area{
    padding: 0 20px;
    box-sizing: border-box;
    height: 60px;
    margin-top: 30px;
}
.join_logo{
    margin: 25px auto;
    width: 146px;
    display: block;
}
.join_container input::placeholder{
    color: #5150507e;
    font-size: 12px;
}

